/* Header Start */
.header .announcement-bar .swiper-slide p {
    @apply text-white max-1023:text-body-4 max-1023:leading-14
}


@keyframes smoothScroll {
    0% {
      transform: translateY(-100px);
    }
  
    100% {
      transform: translateY(0px);
  }
}



/* New Header */

.header-nev{
  @apply items-center gap-37 font-semibold text-17;
}

.header-button{
  @apply flex items-center gap-0 rounded-r-10 rounded-l-10 overflow-hidden;
}

/* hamburger hidden by default */
.mobile-menu-btn {
  display: none;
}

/* MOBILE/TABLET: ≤ 1199px -> hide nav + buttons, show burger */
@media (max-width: 1198px) {
  .header-nev,
  .header-button {
    display: none;
  }
  .mobile-menu-btn {
    display: inline-flex;
  }
}


.header-kat {
  @apply w-full bg-white shadow-md border-b border-gray-200 rounded-br-30 rounded-bl-30 sticky top-0 z-50;
}

.announcement-bar-kat {
  @apply w-full bg-[#808080] overflow-hidden py-13;
}

.header-main {
  @apply w-full px-4 sm:px-6 lg:px-8;
}

.header-wrape {
  @apply max-w-1500 mx-auto h-95 flex items-center justify-between gap-4;
}

/* Desktop nav – centered, flexible */
.header-nev {
  @apply hidden lg:flex flex-1 items-center justify-center gap-37 font-semibold text-17;
}

/* Desktop buttons – on right, no shrink */
.header-button {
  @apply hidden lg:flex items-center gap-0 rounded-r-10 rounded-l-10 overflow-hidden flex-shrink-0;
}

.header-button .header-red-button {
  @apply h-46 px-4 lg:px-12 py-5 bg-[#000000] text-white text-15 font-medium flex items-center gap-2 lg:gap-10 hover:bg-[#b82020] transition-all;
}

.header-blue-button {
  @apply h-46 px-4 lg:px-12 py-5 bg-[#D82626] text-white text-14 font-semibold hover:bg-[#003888] transition-all flex items-center gap-2 lg:gap-10 whitespace-nowrap;
}

.header-blue-button a {
  @apply underline underline-offset-4;
}
/* Header End */



/* Footer Start */
.footer-section {
  @apply relative w-full bg-black text-white overflow-hidden;
}

.footer-bg {
  @apply absolute inset-0 bg-[url('../assets/images/footer-bg.png')] bg-cover bg-no-repeat bg-center pointer-events-none;
}

.footer-main-wrapper {
  @apply relative z-10 max-w-6xl mx-auto flex flex-wrap items-center justify-center gap-20 font-body py-24 text-16 sm:text-xs md:text-sm;
}

.footer-main-wrapper .copyright p {
  @apply whitespace-nowrap;
}

.footer-main-wrapper .footer-menu ul {
  @apply flex flex-wrap items-center justify-center gap-x-20 gap-y-20  whitespace-nowrap;
}
