:root{
    --left-img: url('../assets/images/truckleft.png');
    --right-img: url('../assets/images/truckright.png');
  }
  
  /* Headline Gradient */
  .gradient-text {
    background: linear-gradient(90deg, #D82626 0.04%, #D82626 30.59%, #0055A4 141.65%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  /* Fonts */
  .font-onest {
    font-family: "Onest", sans-serif;
  }
  
  .font-PlusJakarta {
    font-family: "Plus Jakarta Sans", sans-serif;
  }
  
  /* Welcome text */
  .welcome-text {
    color: var(--Natural-900, #000);
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0;
  }
  
  /* Trucks */
  .truck {
    background-repeat: no-repeat;
    background-position: 0px -80.775px;
    background-size: 100% 138.34%;
    opacity: 0.1;
    pointer-events: none;
    flex-shrink: 0;
    display: block;
  }
  
  .truck-left {
    width: 544px;
    height: 393px;
    aspect-ratio: 544 / 393;
    background-image: var(--left-img);
  }
  
  .truck-right {
    width: 543px;
    height: 393px;
    aspect-ratio: 543 / 393;
    background-image: var(--right-img);
  }
  
  /* Responsive overrides */
  @media (max-width: 1100px) {
    .truck-left,
    .truck-right {
      width: 36vw;
      height: auto;
      background-position: 0px -60px;
      background-size: 100% 140%;
    }
  }
  
  @media (max-width: 768px) {
    .truck-left,
    .truck-right {
      display: none;
    }
  }